<nav class="navbar" role="navigation">
    <div><img src="images/hspc-logo-main-web-top.png" srcset="images/hspc-logo-main-web-top@2x.png 2x"/></div>
    <div class="navbar-brand center-title" center ng-style="centerWithOffset(160)">App Gallery</div>
    <div class="pull-right">
    </div>
</nav>

<div class="container-fluid" ng-controller="ComingSoonController">
    <div class="slim-page-header pull-center">
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <h1 align="center">Coming Soon!</h1>
    </div>
</div>
