<div class="modal-header">
    <h3 class="modal-title">{{app.name}}</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-lg-8">
            <textarea readonly>{{app.info}}</textarea>
        </div>
    <div class="col-lg-4">
        <div class="row">
            <div class="thumb-holder" ng-click="select(app)" >
                <div class="thumbnail">
                    <img ng-src="{{app.manifestInfo.logo_uri}}">
                </div>
            </div>
            <div class="app-detail-label">Author</div><div class="app-detail-value">{{app.author}}</div>
            <div class="app-detail-label">Website</div><div class="app-detail-value"><a class="app-detail-value" target="_blank" href="{{app.company_url}}">{{app.company_url}}</a></div>
        </div>
    </div>
    </div>
</div>

<div class="modal-footer">
    <button ng-disabled="!authenticated" class="form-btn btn btn-basic" type="button" ng-click="launch(app)"><i class="fa fa-external-link fa-lg"></i> Launch App</button>
    <button class="form-btn btn btn-basic" type="button" ng-click="close()">Close</button>
</div>
