<div class="cube-content">
    <div class="cube-item"><a href='http://logicahealth.org' target="_blank"><img src="https://content.logicahealth.org/images/hspc/logo/hspc-new-logo-md.png"style="cursor: pointer" />
        <div class="cube-item-text">Consortium</div>
    </a>
    </div>
    <div class="cube-item"><a href='http://developers.logicahealth.org' target="_blank"><img src="https://content.logicahealth.org/images/hspc-developers/icon/hspc-developers-icon.png" srcset="https://content.logicahealth.org/images/hspc-developers/icon/hspc-developers-icon@2x.png 2x" style="cursor: pointer" />
        <div class="cube-item-text">Developers</div>
    </a>
    </div>
    <div class="cube-item"><a href='https://sandbox.logicahealth.org' target="_blank"><img src="https://content.logicahealth.org/images/hspc-sandbox/icon/hspc-sndbx-icon.png" srcset="https://content.logicahealth.org/images/hspc-sandbox/icon/hspc-sndbx-icon@2x.png 2x" style="cursor: pointer" />
        <div class="cube-item-text">Sandbox</div>
    </a>
    </div>
</div>