/* Primary Blue #00AEEF*/
/* Darker Blue #10759D*/
/*Primary Gray #666666*/
/*Hover Blue #128aba*/


/*OLD*/
/*Color #00AEEF - blue */
/*Color #00a7e6 - hover blue */
/*#58585A - Grey*/

.full-screen {
    /*font-family: Open Sans,sans-serif;*/
    color: #666666;
    overflow: hidden;
}

.full-screen-scroll {
    /*font-family: Open Sans,sans-serif;*/
    color: #666666;
    overflow: auto;
}

/*body.create-form {*/
    /*background: #f5f5f5;*/
/*}*/

.create-form {
    width: 850px;
    margin: 100px auto 0 auto;
}

.create-form img {
    height: 100px;
    margin-bottom: 10px
}

.columns-group {
    display: table;
    box-sizing: border-box;
    border-spacing: 0;
    table-layout: fixed;
    width: 100%;
}

.single-column {
    display: table-cell;
    vertical-align: top;
}

.feature-checkmark-list {
    list-style: none;
    margin-left: 0;
    padding-left: 36px;
}

.feature-checkmark-list--item:before {
    color: #666666;
    content: '\2714';
    display: inline-block;
    font-size: 18px;
    margin: 0 0 0 -24px;
    width: 24px;
}

.create-form-info-box {
    margin-left: 30px;
    font-size: 12px;
}

.create-form-info-box h1 {
    margin-top: 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.42857143;
}

.create-form-group {
    box-sizing: border-box;
    clear: both;
    padding: 4px 0 4px 115px;
    position: relative;
    margin: 1px 0;
    width: 100%;
}

.create-form-label {
    float: left;
    margin-left: -145px;
    padding: 5px 0 0;
    position: relative;
    text-align: right;
    width: 130px;
    font-size: 14px;
    font-weight: 400;
    color: #707070;
    word-wrap: break-word;
}

.create-form-input-box {
    height: 2.14285714em;
    line-height: 1.4285714285714;
    padding: 4px 25px 4px 5px;
    border: 1px solid #ccc;
    border-radius: 3.01px;
    box-sizing: border-box;
    font-size: inherit;
    margin: 0;
    max-width: 250px;
    vertical-align: baseline;
    width: 100%;
}

.create-form-input-icon {
    color: red;
    position: absolute;
    z-index: 2;
    right: 5px;
    top: 13px;
    width: 30px;
    display: block;
}

.create-form-description {
    color: #707070;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.66666666666667;
    margin: 5px 0 0;
    word-wrap: break-word;
}

.create-form-description-box {
    margin: 0px;
    width: 250px;
    height: 86px;
    padding: 4px 25px 4px 5px;
    border: 1px solid #ccc;
    border-radius: 3.01px;
    resize: none;
}

.create-box {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 auto 60px;
    padding: 30px;
}

.create-section {
    border-top: 1px solid #ccc;
    display: inline-block;
    padding: 20px 0 0;
    position: relative;
    width: 100%;
}

.create-title {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.25;
    margin: 0 0 12px 0;
}


/*.create-form-input {*/
    /*display: block;*/
    /*width: 100%;*/
    /*height: 50px;*/
    /*padding: 2px 4px 0 40px;*/
    /*font-size: 14px;*/
    /*line-height: 1.428571429;*/
    /*color: #666666;*/
    /*background-color: #fff;*/
    /*background-image: none;*/
    /*border: 1px solid #ccc;*/
    /*border-radius: 0;*/
    /*-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);*/
    /*box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);*/
    /*-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;*/
    /*transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;*/
    /*margin-bottom: 2px;*/
/*}*/

/*.create-form-input-icon {*/
    /*position:absolute;*/
    /*z-index: 2;*/
    /*left: 30px;*/
    /*width: 30px;*/
    /*display: block;*/
    /*padding-top: 20px;*/
    /*color: #666666;*/
/*}*/

/*.create-form-text {*/
    /*float: right;*/
    /*color: #00AEEF;*/
    /*font-size: 14px;*/
    /*line-height: 1.428571429;*/
/*}*/

/*.create-form-text:hover {*/
    /*color: #666666;*/
    /*text-decoration: none;*/
/*}*/

.create-form-btn {
    display: block;
    width: 100%;
    height: 50px;
    text-align: center;
    font-weight:bold;
    padding: 15px 4px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #fff;
    background-color: #128aba;
    background-image: none;
    border: 1px solid #10759D;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    margin-bottom: 2px;
    margin-top: 10px;
}

.create-form-btn:hover {
    color: #666666;
    background-color: #128aba;
    cursor: pointer;
}

.progress-box {
    margin: 100px auto 0 auto;
    width: 800px;
    padding: 20px;
    /*border: 1px solid #e6e6e6;*/
    /*border-radius: 4px;*/
}

.progress-bar-success {
    background-color: #10759D;
}

.progress {
    height: 5px;
}

.red-popover + .popover > .popover-inner {background-color: #f00;}
.red-popover + .popover {background-color: #f00;}
.red-popover + .popover > .popover-inner > .popover-content {
    padding: 1px 4px;
    color: #fff;
    width: 120px;
    text-align: center
}

.red-popover + .popover.right>.arrow {
    border-right-color: #f00;
    border-style: solid;
}

.red-popover + .popover>.arrow,
.red-popover + .popover>.arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    left: -10px;
    border-color: transparent;
    border-style: none;
}
.red-popover + .popover > .popover-arrow { border-bottom-color:#f00; }
.red-popover + .popover.bottom .popover-arrow {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-right-color: #f00;
    border-style: solid;
    border-width: 0 5px 5px;
}

.fadein.ng-hide-remove,
.fadeout.ng-hide-add {
    -webkit-transition: 400ms ease-in-out all;
    -moz-transition: 400ms ease-in-out all;
    -o-transition: 400ms ease-in-out all;
    transition: 400ms ease-in-out all;
    display: block !important;
}

.fadein.ng-hide-remove,
.fadeout.ng-hide-add.ng-hide-add-active {
    opacity: 0;
}

.fadeout.ng-hide-add,
.fadein.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
}

.navbar {
    background-color: #fafafa;
    border-radius: 0;
    border-width: 0 0 2px 0;
    border-color: #f4f4f4;
    height: 60px;
    margin-bottom: 0;
}

.nav-sidebar-large {
    width: 200px;
    float: left;
}

.nav-sidebar-small {
    width: 50px;
    float: left;
}

.center-text {
    text-align: center
}

.main-page-content {
    width: 100%;
    float: left;
}

.nav-sidebar a {
    font-weight: 300;
    font-size: 14px;
    color: #666666;
    position: relative;
    display: block;
    padding: 10px 15px;
}

.nav-sidebar a:hover,
.nav-sidebar a.selected {
    color: #10759D;
    text-decoration: none;
    cursor: pointer;
}
.sidebar {
    background-color: #fafafa;
    border-right: 2px solid #f4f4f4;
    padding-top: 10px;
}

.nav-sidebar-bottom {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.box {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.horizontal-scroll{
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.right-border {
    border-right: 2px solid #f4f4f4;
}

.left-border {
    border-left: 2px solid #f4f4f4;
}

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
}

.navbar-title {
    /*padding-top: 25px;*/
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.navbar-stack-apps,
.navbar-stack-apps a,
.navbar-stack-sign-in,
.navbar-stack-sign-in a,
.navbar-stack-name,
.navbar-stack-name a,
.navbar-stack-name.disabled,
.navbar-stack-name a.disabled{
    color: #666666;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
}

.navbar-stack-apps a:hover,
.navbar-stack-sign-in  a:hover,
.navbar-stack-name a:hover {
    color: #10759D;
    text-decoration: none;
    cursor: pointer;
}

.navbar-stack-apps a:focus,
.navbar-stack-name a:focus {
    outline:none;
    text-decoration: none;
}

.navbar-stack-name {
    position: relative;
    float: right;
    margin-left: 4px;
    /*position: absolute;*/
    /*right: 15px;*/
    /*top: 20px;*/
}

.navbar-stack-apps {
    position: relative;
    float: right;
    margin-right: 10px;
    /*right: 15px;*/
    /*top: 20px;*/
}

.navbar-stack-box {
    position: absolute;
    right: 15px;
    top: 20px;
}

.navbar-stack-sign-in {
    position: relative;
    float: right;
    margin-left: 4px;
    /*position: absolute;*/
    /*right: 15px;*/
    /*top: 20px;*/
}

.navbar img {
    height: 32px;
}

.navbar-img {
    position: absolute;
    top: 15px;
    /*left: 55px;*/
    left: 18px;
}

.navbar-stack-apps .popover,
.navbar-stack-apps .popover-content,
.navbar-stack-name .popover,
.navbar-stack-name .popover-content
{
    padding: 0;
    border-radius: 0;
}

.cube-content {
    width: 140px;
    max-width: 140px;
    text-align: center;
}

.cube-content img {
    height: 40px;
}

.cube-content .cube-item {
    color: #58585A;
    font-size: 12px;
    padding: 4px 0 6px 4px;
    text-decoration: none;
}

.cube-content .cube-item:hover {
    background-color: #E6E6E6;
    cursor: pointer;
}

.cube-content .cube-item>a>.cube-item-text,
.cube-content .cube-item-text:selected{
    text-decoration: none;
}

.cube-content .cube-item-text {
    color: #58585A;
    font-size: 14px;
    font-weight: 400;
}

.navbar-stack-name .popover.bottom>.arrow {
    left: 186px;
}

.navbar-stack-name .popover {
    left: -60px !important;
}

.settings-content .settings-item
{
    color: #10759D;
    padding: 4px 0 4px 5px;
    font-size: 14px;
    text-decoration: none;
}

.settings-content .settings-item-text
{
    color: #666666;
    padding: 4px 0 4px 5px;
    font-size: 14px;
    text-decoration: none;
}

.settings-content {
    width:200px;
}

.settings-content .settings-item:hover {
    background-color: #10759D;
    color: #fff;
    cursor: pointer;
}

.slim-page-header {
    font-size: 16px;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: inherit;
    line-height: 1.1;
    color: inherit;
}

.sub-header {
    font-size: 16px;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 5px;
    font-family: inherit;
    line-height: 1.1;
    color: inherit;
}

.basic-text {
    font-size: 12px;
    font-weight: 300;
}

a {
    font-weight: 300;
    font-size: 12px;
    color: #10759D;
}

a:hover {
    color: #0095cc;
    text-decoration: none;
    cursor: pointer;
}

a.disabled {
    pointer-events: none;
    color: #66d5ff;
}

.details-header .float-right-dark-btn {
    padding-right: 8px;
}

.details-header {
    height: 28px;
    width: 100%;
    background: #10759D;
    padding-top: 4px;
    margin-bottom: 4px;
}
.details-header .float-right-dark-btn {
    padding-right: 8px;
}

.float-right-dark-btn {
    cursor:pointer;
    float:right;
    border: none;
}

.float-right-dark-btn:hover{
    /*font-weight:bold;*/
    color: #666666;
}

.table>tbody>tr td,
.table>tbody>tr td,
.table-striped tr td,
.table-striped tr td{
    font-size: 12px
}


.table>tbody>tr.selected td,
.table>tbody>tr.selected:hover td,
.table-striped tr.selected td,
.table-striped tr.selected:hover td{
    background-color: #ccf1ff;
    /*background-color: #666666;*/
    color: #666666;
}
.table-container{
    overflow-y: auto;
}

.input-long {
    border-radius: 4px;
    margin-bottom: 5px
}

.content-column-vertical {
    padding-top: 5px;
    padding-bottom: 5px;
}

.content-column {
    padding: 5px;
}

.content-column ul {
    padding-left: 0;
}

.content-column li {
    position: relative;
    display: block;
    padding: 10px 15px;
    font-weight: bold;
    color: #666666;
}

.btn {
    font-weight: 300;
    font-size: 12px;
    padding: 3px 6px 3px 6px;
}

.btn-basic {
    color: #fff;
    background-color: #10759D;
    border-color: #10759D;
    font-weight: 300;
    font-size: 12px;
    padding: 3px 6px 3px 6px;
}

.btn-basic:hover,
.btn-basic:focus,
.btn-basic:active,
.btn-basic.active {
    color: #fff;
    background-color: #128aba;
    border-color: #128aba;
}

.btn-basic.disabled,
.btn-basic[disabled],
fieldset[disabled] .btn-basic,
.btn-basic.disabled:hover,
.btn-basic[disabled]:hover,
fieldset[disabled] .btn-basic:hover,
.btn-basic.disabled:focus,
.btn-basic[disabled]:focus,
fieldset[disabled] .btn-basic:focus,
.btn-basic.disabled:active,
.btn-basic[disabled]:active,
fieldset[disabled] .btn-basic:active,
.btn-basic.disabled.active,
.btn-basic[disabled].active,
fieldset[disabled] .btn-basic.active {
    background-color: darkgray;
    border-color: darkgray;
}

.btn-cancel {
    color: #FFF;
    background-color: #58585A;
    border-color: #58585A;
    font-weight: 300;
    font-size: 12px;
    padding: 3px 6px 3px 6px;
}

.btn-cancel:hover,
.btn-cancel:focus,
.btn-cancel:active,
.btn-cancel.active {
    color: #FFF;
    background-color: #808080;
    border-color: #808080;
}

.btn-cancel.disabled,
.btn-cancel[disabled],
fieldset[disabled] .btn-cancel,
.btn-cancel.disabled:hover,
.btn-cancel[disabled]:hover,
fieldset[disabled] .btn-cancel:hover,
.btn-cancel.disabled:focus,
.btn-cancel[disabled]:focus,
fieldset[disabled] .btn-cancel:focus,
.btn-cancel.disabled:active,
.btn-cancel[disabled]:active,
fieldset[disabled] .btn-cancel:active,
.btn-cancel.disabled.active,
.btn-cancel[disabled].active,
fieldset[disabled] .btn-cancel.active {
    background-color: #B3B3B3;
    border-color: #B3B3B3;
}
.app-gallery-container {
    overflow: auto;
    max-width: 1080px;
    /*min-width: 768px;*/
    display: block;
    padding: 4px;
    margin: 10px auto 10px auto;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.app-gallery-container ul {
    margin-bottom: -20px;
}

.btn-input {
    display: block;
    height: 34px;
    padding: 2px 6px;
    margin: 4px 8px;
}

.form-group {
    /*margin-bottom: 15px;*/
    margin-bottom: 2px;
}

.form-control {
    display: block;
    width: 100%;
    height: 24px;
    padding: 2px 4px;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.428571429;
    color: #666666;
    outline: none;
    background-color: #fff;
    background-image: none;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.invalid-form-control {
    display: block;
    width: 100%;
    height: 24px;
    padding: 2px 4px;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.428571429;
    color: #666666;
    outline: none;
    background-color: #ffe5e5;
    background-image: none;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.float-right-dark-btn {
    cursor:pointer;
    float:right;
    border: none;
}
.float-right-dark-btn:hover{
    /*font-weight:bold;*/
    color: #a9a9a9;
}

.form-btn {
    /*height: 35px;*/
    width: 100px;
}

.modal-body .thumbnail {
    height: 160px;
    width: 220px;
    display: block;
    padding: 4px;
    background-color: #fff;
    /*border: 1px solid #ddd;*/
    border-radius: 4px;
}

.modal-body .thumb-holder {
    background-color: #fff;
    /*border: 1px solid #ddd;*/
    border-radius: 4px;
}

.modal-body .thumb-holder .thumbnail {
    background-color: #fff;
}

    /*.info {*/
    /*float: right;*/
    /*margin-top: -3px;*/
    /*margin-right: -5px;*/
/*}*/

.app-detail-label {
    /*float: left;*/
    width: 60px;
    /*padding-right: 10px;*/
    /*margin-bottom: 10px;*/
}

.app-detail-value {
    /*float: left;*/
    width: 290px;
    margin-bottom: 10px;
    font-weight: 600;
}

.app-detail-value>a {
    color: #10759D;
    font-size: 14px;
    font-weight: 600;
    word-wrap: break-word;
}

.app-detail-value>a:hover {
    color: #0095cc;
    text-decoration: none;
    cursor: pointer;
}

.thumb-holder {
    /*height: 240px;   !* 30px to contain the button below the image *!*/
    /*width: 210px;    !* 10px are used for border and padding leaving 200px for the thumbnail *!*/
    height: 190px;   /* 30px to contain the button below the image */
    width: 220px;    /* 10px are used for border and padding leaving 200px for the thumbnail */
    /*border: 1px solid #ddd;*/
    background-color: #fafafa;
    /*background-color: #f2f2f2;*/
    border-radius: 4px;
    padding: 4px;
    text-align: center;
    cursor: pointer;
}

.thumb-holder.selected {
    background-color: #fafafa;
    /*border: 2px solid #f4f4f4;*/
    border-radius: 6px;
    /*background-color: #cccccc;*/
    /*background-color: #e6e6e6;*/
}


.thumb-holder .thumbnail {
    background-color: #fafafa;
    /*background-color: #f2f2f2;*/
}

.thumb-holder.selected .thumbnail {
    background-color: #fafafa;
    /*background-color: #cccccc;*/
    /*background-color: #e6e6e6;*/
}

.thumb-holder a {
    font-weight: 300;
    font-size: 20px;
    position: absolute;
    bottom: 15px;
    left: 20px;
    text-align: center;
    width: 210px;
    text-decoration: underline;
}

.thumb-holder .thumbnail {
    border: none;
    /*width: 200px;  !* 200px sets the width for the image. Image will scale to width *!*/
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: none;
    transition: none;
}

.thumb-holder .thumbnail img {
    max-width: 210px;
    max-height: 150px;
}

.modal-form .thumbnail {
    max-width: 210px;
    max-height: 150px;
}

.thumb-holder .caption {
    position: absolute;
    bottom: 18px;
    left: 27px;
    color: #333;
}

.thumb-holder .caption button {
    position: absolute;
    left: 20px;
    width: 170px;
}

.thumb-holder .caption button {
    position: absolute;
    left: 22px;
    width: 160px;
}


.detail-form {
    padding-right: 0;
}

.detail-form-label-input,
.detail-form-value {
    border-radius: 4px;
    width: 65%;
    float: left;
    position: relative;
    display: inline-block;
    min-height: 30px;
    padding: 5px 5px 5px;
    font-size: 12px;
    font-weight: 600;
}

.detail-form-label-inline {
    width: 35%;
    float: left;
    position: relative;
    color: #666666;
    min-height: 25px;
    padding: 10px 5px 5px;
    display: inline-block;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 300;
}

.detail-form-label-input-inline {
    border-radius: 4px;
    width: 65%;
    float: left;
    position: relative;
    display: inline-block;
    min-height: 25px;
    padding: 5px 5px 5px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 600;
}

.detail-form-label-input-inline select,
.detail-form-label-input-inline input {
    width: 80%;
    float: left;
    position: relative;
    display: inline-block;
    min-height: 25px;
    padding: 5px 5px 5px;
    font-size: 12px;
    font-weight: 600;
}

.detail-form-label-input-inline a {
    padding: 5px 5px 0;
    float: left;
    width: 10%;
}

.detail-form-label-input-inline a>i {
    width: 100%;
}

.detail-form-label {
    width: 35%;
    float: left;
    position: relative;
    color: #666666;
    /*text-align: right;*/
    min-height: 30px;
    padding: 5px 5px 5px;
    display: inline-block;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 300;
}

.detail-form-value a {
    color: #10759D;
    font-size: 12px;
    font-weight: 600;
}
.detail-form-value a:hover {
    color: #0095cc;
    text-decoration: none;
    cursor: pointer;
}

.detail-form-value {
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    color: #666666;
    /*padding-right: 4px;*/
    min-height: 30px;
    width: 65%;
    float: left;
    position: relative;
    display: inline-block;
    padding: 5px 5px 5px;
    min-height: 30px;
}

.modalForm .detail-form-label {
    width: 15%;
}

.modalForm .detail-form-label-input {
    margin-right: 0;
    width: 85%;
}

.modalForm .detail-form-value{
    width: 35%;
}

.modal-header {
    padding: 5px 0 5px 15px;
    border-bottom: 1px solid #e6e6e6;
}
.modal-footer {
    padding: 10px 24px 4px;
    margin-bottom: 10px;
    text-align: right;
    border-top: none;
}

.modal-body-style label,
.modal-body-style input,
.modal-body-style {
    font-size: 12px;
    font-weight: 300;
}

.modal-body textarea {
    resize: none;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    padding: 10px;
    width: 550px;
    height: 450px;
    outline: none;
}

.editor-label {
    float: left;
    width: 200px;
}

.editor-field {
    margin-left:200px;
    margin-right:50px;
}

.editor-field input {
    float: left;
    width: 100%;
}

.invalid-inp_bottom_label {
    font-size: 13px;
    color: #fd595f;
}

.form-footer {
    padding: 6px 20px 20px;
    text-align: right;
    position: absolute;
    right: 0;
    bottom: 0;
}

.modal-footer {
    padding: 10px 24px 4px;
    margin-bottom: 10px;
    text-align: right;
    border-top: none;
}

table {
    width: 100%;
    /*margin-bottom: 20px;*/
    margin-bottom: 5px;
}

td {
    padding: 4px;
}

/*th {*/
    /*font-size: 12px*/
/*}*/

.recent-table {
    height: 150px;
}

.scrollableContainer {
    height: 150px;
    position: relative;
    padding-top: 37px;
    margin-bottom: 10px;
}
.scrollableContainer .headerSpacer {
    border-bottom: 1px solid #e6e6e6;
    position: absolute;
    height: 36px;
    top: 0;
    right: 0;
    left: 0;
}
.scrollableContainer th .th-inner .title > span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}
.scrollableContainer th .orderWrapper {
    position: absolute;
    top: 0;
    right: 2px;
    cursor: pointer;
}
.scrollArea {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    /*border-bottom: 1px solid #e6e6e6;*/
}
.scrollArea table {
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 0;
    border: none;
    border-collapse: separate;
}
.scrollArea table th {
    padding: 0;
    border: none;
}
.scrollArea table .th-inner {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: absolute;
    top: 0;
    height: 36px;
    line-height: 36px;
    padding: 0 8px;
    /*border-left: 1px solid #ddd;*/
}

.scrollArea table tr th:first-child .th-inner {
    border-left: none;
}
.scrollArea table .th-inner.condensed {
    padding: 0 3px;
}
.scrollArea table tbody tr td:first-child {
    border-left: none;
}
.scrollArea table tbody tr td:last-child {
    border-right: none;
}
.scrollArea table tbody tr:first-child td {
    border-top: none;
}
.scrollArea table tbody tr:last-child td {
    border-bottom: 1px solid #e6e6e6;
}
.scrollArea table>thead>tr>th {
    border-bottom: 0px solid #e6e6e6;
    padding: 0px;
    line-height: 1.428571429;
    vertical-align: top;
    border-top: 1px solid #e6e6e6;
    font-size: 12px
}

.contextTable{
    float: left;
    width: 100%;
    height: 95px;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
}
.contextTable.scrollableContainer {
    padding-top: 25px;
    margin-bottom: 4px;
}

.contextTable.scrollableContainer .headerSpacer {
    height: 24px;
}

.contextTable .scrollArea table .th-inner {
    height: 24px;
    line-height: 24px;
    width:50%;
}

.contextTable .table>thead>tr>th,
.contextTable .table>tbody>tr>th,
.contextTable .table>tfoot>tr>th,
.contextTable .table>thead>tr>td,
.contextTable .table>tbody>tr>td,
.contextTable .table>tfoot>tr>td {
    line-height: 8px;
    font-size: 12px;
    border-top: 1px solid #e6e6e6;
}

.contextTable .table>tfoot>tr>td{
    width:50%;
    float:left;
    word-wrap:break-word;
}

.title-box {
    margin: 25px 0 5px 0;
    padding: 5px;
    border: #e6e6e6 1px solid;
    border-radius: 4px;
}

.title-box .title {
    position: relative;
    font-size: 12px;
    font-weight: 400;
    top: -16px;
    margin-left: 15px;
    padding: 0 2px 0 2px;
    display: inline;
    background-color: white;
}

.title-box .content {
    margin-top: -15px;
    padding-bottom: 5px;
    font-size: 12px;
    font-weight: 300;
    width: 100%;
}

.title-box .content .detail-form {
    height: 25px;
}

.title-box .content .detail-form-label {
    margin: 0;
    padding: 5px 0 0 5px;
    min-height: 20px;
}

.title-box .content .detail-form-value {
    border: none;
    margin: 0;
    padding: 5px 0 0 5px;
    min-height: 20px;
    font-weight: bold;
}

.title-box .content .detail-form-label.full-line {
    border: none;
    width: 100%;
    margin: 0;
    padding: 5px 0 5px 5px;
    min-height: 20px;
}

.form-label.full-line {
    border: none;
    width: 100%;
    margin: 0;
    padding: 5px 0 5px 5px;
    min-height: 20px;
    font-weight: normal;
}

.detail-description {
    font-size: 14px;
    font-weight: 300;
}

.image-btn {
    display: block;
    height: 24px;
    padding: 4px 6px 4px 0;;
    outline: none;
    float: left;
}

.message_area {
    position: fixed;
    right: 5px;
    width: 250px;
    z-index: 1000;
}
.message_error {
    background-color: #d81b1b;
    border: 1px solid #ff3c3c;
    box-shadow: 0 0 10px #000;
    font-size: 15px;
    color: #666;
    padding: 0;
    border-radius: 3px;
    cursor:pointer
}

.message_info {
    font-size: 15px;
    color: #fff;
    box-shadow: 0 0 10px #888;
    padding: 0;
    background-color: #10759D;
    border-radius: 3px;
    border: 1px solid #fff;
    cursor:pointer
}
.message_error div {
    padding: 5px 10px;
    background-color: #d81b1b;
    border: 1px solid #940000;
    border-radius: 3px;
    color: #FFF;
}
.message_info div {
    padding: 5px 10px;
    background-color: #10759D;
    border-radius: 3px;
    border: 1px solid #e6e6e6;
}
.message_error, .message_info {
    min-width: 120px;
    font-family: Tahoma,Arial;
    z-index: 10000;
    overflow: hidden;
    margin: 5px 5px 10px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.start-form {
    width: 500px;
    margin: 100px auto 0 auto;
    color: #666666;
}

.start-form img {
    height: 100px;
    margin-bottom: 10px
}

.columns-group {
    display: table;
    box-sizing: border-box;
    border-spacing: 0;
    table-layout: fixed;
    width: 100%;
}

.single-column {
    display: table-cell;
    vertical-align: top;
}

.feature-checkmark-list {
    list-style: none;
    margin-left: 0;
    padding-left: 36px;
}

.feature-checkmark-list--item:before {
    color: #707070;
    content: '\2714';
    display: inline-block;
    font-size: 18px;
    margin: 0 0 0 -24px;
    width: 24px;
}

.start-form-info-box {
/*margin-left: 30px;*/
    font-size: 12px;
}

.start-form-info-box h1 {
    margin-top: 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.42857143;
}

.start-title {
    font-size: 22px;
    text-align: left;
    font-weight:normal;
    color: #666666;
}

.start-box {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px auto 60px;
    padding: 30px;
}

.start-section {
    /*border-top: 1px solid #ccc;*/
    display: inline-block;
    padding: 0;
    position: relative;
    width: 100%;
}

.start-link-text {
    float: right;
    color: #10759D;
    font-size: 22px;
    font-weight:normal;
}

.start-form-text:hover {
    color: #128aba;
    text-decoration: none;
}

.site-seal {
    position: absolute;
    left: 20px;
    bottom: 5px;
}

.site-seal img {
    width: 80px !important;
}

.terms-of-use {
    white-space: normal;
}

.terms-of-use h1 {
    font-size: 18px;
    text-align: center;
}

.terms-of-use a {
    font-size: 14px;
    font-weight: 400;
}

.terms-modal-window .modal-dialog {
    width: 90%;
    margin: 30px auto;
}

.terms-modal-window .btn-basic.disabled,
.terms-modal-window .btn-basic[disabled],
fieldset[disabled] .terms-modal-window .btn-basic,
.terms-modal-window .btn-basic.disabled:hover,
.terms-modal-window .btn-basic[disabled]:hover,
fieldset[disabled] .terms-modal-window .btn-basic:hover,
.terms-modal-window .btn-basic.disabled:focus,
.terms-modal-window .btn-basic[disabled]:focus,
fieldset[disabled] .terms-modal-window .btn-basic:focus,
.terms-modal-window .btn-basic.disabled:active,
.terms-modal-window .btn-basic[disabled]:active,
fieldset[disabled] .terms-modal-window .btn-basic:active,
.terms-modal-window .btn-basic.disabled.active,
.terms-modal-window .btn-basic[disabled].active,
fieldset[disabled] .terms-modal-window .btn-basic.active {
    background-color: #66D5FF;
    border-color: #66D5FF;
}


.modal-header {
    padding: 5px 0 5px 15px;
    border-bottom: 1px solid #E6E6E6;
    color: #FFF;
    /*border-radius: 4px;*/
    background-color: #10759D;
}
.modal-footer {
    padding: 10px 24px 4px;
    margin-bottom: 10px;
    text-align: right;
    border-top: none;
}

footer .container {
    /*margin-top: 3px;*/
    overflow: hidden;
    width: 980px;
    /*height: 40px;*/
}

footer .copyright {
    text-align: center;
    color: #666666;
    font-size: 14px;
    padding-top: 15px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #fafafa;
    border-radius: 0;
    border-width: 2px 0 0;
    border-style: solid;
    border-color: #f4f4f4;
    height: 60px;
    padding-top: 5px;
}

footer .copyright>a {
    color: #10759D;
    font-weight: 400;
    font-size: 14px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}